main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profile-section {
  margin-bottom: 20px;
}

.user-info {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* border: none; */
  box-shadow: -5px 6px 5px rgb(169, 169, 238);
}

input:focus {
  outline: 1px solid transparent !important;
  box-shadow: -2px 6px 8px rgb(151, 151, 241);
  /* padding: 8px 14px; */
  border: none;
  border-radius: 6px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 0.9rem 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.success-message {
  color: #4caf50;
  margin-top: 10px;
}

.blood-pressure-info,
.medicine-info {
  margin-top: 20px;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  main {
    padding: 10px;
  }
}
